In [1]:
a=3
b=6
c=7

In [5]:
print(a)
print(b)
for i in range(5):
    print(i)
print(c)

3
6
0
1
2
3
4
7

In [7]:
if a==4:
    print("a is 3")
else:
    print("a is not 3")

a is not 3

In [9]:
def fun():
    print("hello")
a=(print)

In [10]:
a

# type conversion

In [12]:
a = 5
type (a)

int

In [14]:
b = "string"
type (b)

str

In [18]:
c=str(a)

In [19]:
type(c)

str

In [21]:
a=5
print(a)

5

In [22]:
b = input("enter a number")
print(b)

5

In [23]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
b=int(b)
print(b)

5

In [27]:
a+b

10

In [33]:
d=("aman")
print(d)

aman

In [34]:
l=list(d)
print(l)

['a', 'm', 'a', 'n']

In [35]:
type(l)

list

# print()

In [38]:
a= 5, 3+4j , True , [3,5,6], "print"
print(a)

(5, (3+4j), True, [3, 5, 6], 'print')

In [39]:
a= 5, 3+4j , True , [3,5,6], "print"

b=print(a)
type(b)

(5, (3+4j), True, [3, 5, 6], 'print')

NoneType

In [43]:
print(5, 3+4j , True , [3,5,6], "print",sep="=")

5=(3+4j)=True=[3, 5, 6]=print

In [46]:
print(5, 3+4j , True , [3,5,6], "print",end=" : ")
print("this is over class")

5 (3+4j) True [3, 5, 6] print : this is over class

In [1]:
print(" Aman","Vikas",sep=" and ")

 Aman and Vikas

In [4]:
print("My name is Aman", end = " and ")
print("My UID is 23MSM40054")

My name is Aman and My UID is 23MSM40054

# input()

In [9]:
a = "4"
b  = "9"
print(a+b)

49

:

In [8]:
a,b=input("enter  avalue").split()

print(a+b)

56

In [1]:
a = input("enter a number")
print(a)

2

In [11]:
a =input("enter a string value")
print(a)
c=int(a)
type(c)

8

int

In [8]:
a,b= input("enter two numbers").split()
a

'5'

In [9]:
b

'6'

In [24]:
Name = "aman"
age=22
city= "rohtak"

In [22]:
print("my name is {} my age {} my city name {}".format(Name,age,city))

my name is aman my age 22 my city name rohtak

In [27]:
print(f"my name is {Name} and my age is {age} and my city is {city}")

my name isaman and my age is 22 and my city is rohtak

In [31]:
b=6
a=int(input())
print(a)
type(a)

8

int

In [32]:
b+a

14

In [37]:
a=input("enter tha value you want")
b=6
result=eval(a)
print(result)
type(result)

494

int

In [38]:
result+b

500

In [40]:
a= eval("65+878")
print(a)

943

In [41]:
x=8
eval("x+7")

15

In [43]:
a = eval("len('hello world come in my house ')")
print(a)

29