In [1]:
a='''jnfnklvd
mvkdbnf
v,fldnvk'''

In [2]:
type(a)

str

In [3]:
len(a)

25

In [5]:
s="learning logic"
len(s)

14

In [6]:
s[6]

'n'

In [7]:
s[-5]

'l'

In [8]:
str ="learning logic"
for i in str:
    print(i)

l
e
a
r
n
i
n
g

l
o
g
i
c

In [3]:
str = "amanbudhwar"
i=0
while i<len(str):
    print(str[i])
    i+=1

a
m
a
n
b
u
d
h
w
a
r

In [6]:
str = "amanbudhwar"
if "an" in str:
    print("yes")

yes

In [7]:
# comparision operator 

==, != ,<= ,>,<

SyntaxError: invalid syntax (4270946815.py, line 3)

In [5]:
str1="prince"
str2="Prince"

In [4]:
str1==str2

True

In [7]:
str1<str2

False

In [14]:
# code converstion

str = "Aman Budhwar"
str.upper()
str.capitalize()
str.title()
str.swapcase()

'aMAN bUDHWAR'

In [28]:
#strchecking


str="Aman Budhwar"
str.isalpha()
str.isalnum()
str.islower()
str.isupper()
str.isspace()
str.istitle()
str.isdecimal()
str.isnumeric()

False

In [33]:
# string manipulation
str="   amanbudhwar   "
str.strip()
str.lstrip()
str.rstrip()

str.replace("budhwar","badhwar")

'   amanbadhwar   '

In [38]:
str = "aman  : budhwar"
str.split(':')

['aman  ', ' budhwar']

In [43]:
str = 'aman',':','budhwar',"print"
"_".join(str)

'aman_:_budhwar_print'

In [58]:

str="Aman Budhwar budhwar"
str.find("Budhwar")
str.rfind("budhwar")
str.index("m")
str.rindex("r")
str.find("c")

-1

In [60]:
name = "Amanbudhwar"
age= 22

str="my name is {} and my age is {}"

str.format(name,age)

'my name is Amanbudhwar and my age is 22'

In [65]:
"my name is name and my age is age "

'my name is name and my age is age '

In [67]:
# built in function

len(str)
max(str)
min(str)

' '

In [72]:
print("this is my \n pythan class")

this is my
 pythan class

In [73]:
print(r"this is my \n puthan class")

this is my \n puthan class

In [74]:
print("this is my \t pythan class")

this is my 	 pythan class

In [75]:
print("this is my \\ pythan class")

this is my \ pythan class

In [76]:
print("this is' my  pythan' class")

this is' my  pythan' class

In [79]:
print("this is\"my  pythan\" class")

this is"my  pythan" class

In [80]:
print("this is my \r pythan class")

 pythan class

In [83]:
print("this is my\b pythan class")

this is m pythan class

In [88]:
print("this is my \f pythan class")

this is my  pythan class

# regex
# import re

## .2 special Sequences

## . \d:Matches any digit (0-9).
## . \D:Matches any non-digit character.
## . \w:Matches any alphanumeric character.
##  .\s: matches any whitespace character.
## .\S: Matches any non Whitespace character

## 1.re.match() 
###  the re.match()function checks for a match only at the string.

In [89]:
import re

pattern = r"\d+" # Matches one or more digits
string = "123hbjbj879"

match = re.match(pattern , string)
match.group()

'123'

# 2.re.serch()
###  the re.serch()function scans though the string and returns the first match it finds

In [92]:
import re

pattern = r"\d+" # Matches one or more digits
string = "abc123hbjbj879"

search = re.search(pattern,string)
search.group()

'123'

# re.findall()
### the re.findall() function returns all matches of the pattern in the string as a list.

In [93]:
import re

pattern = r"\d+" # Matches one or more digits
string = "123hbjbj879"

match = re.findall(pattern,string)
match

['123', '879']

# re.finditer()
### the re.finditer() function an iterator yeilding match object for each match

In [97]:
import re

pattern = r"\d+" # Matches one or more digits
string = "123hbjbj879"

match =re.finditer(pattern,string)
for i in match:
    print(i.group() ,i.span())

123 (0, 3)
879 (8, 11)

# re.sub()
### the re.sub()function replace all occurance of the pattern with a specified string

In [99]:
import re

pattern = r"\d+" # Matches one or more digits
string = "abc123hbjbj879"

new = re.sub(pattern,"#", string)
new

'abc#hbjbj#'

# re.splits

In [3]:
import re

pattern = r"\d+" # Matches one or more digits
string = "abc123hbjbj879"
spilts =re.split(pattern , string)
print(spilts)

['abc', 'hbjbj', '']

## 4. common regex patterns
### . email validation: r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+"
### . URL validation: r"http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*(),]|(?:%[0-9a-fA-F]))+"
### .IP Adress validation:r"\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b"

# 5.1 Extracting ALL Emails From a text

In [4]:
text ="please contact us at support@example.com or sales@example.co.uk. or amanbudhwar37@gmail.com"
email_pattern =r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+"
email = re.findall(email_pattern,text)
email

['support@example.com', 'sales@example.co.uk.', 'amanbudhwar37@gmail.com']

# 5.2 Replacing All Digits with a Character

In [5]:
number ="23-35-454 this is my phone no"
re.sub(r"\d","*",number)

'**-**-*** this is my phone no'

# 5.3 Splitting a String by Multiple Delimiters

In [8]:
text = "apple , orange; banana|grape"
split_pattern = r"[,:|]"
fruits =re. split(split_pattern, text)
fruits

['apple ', ' orange; banana', 'grape']

# interview questions

In [1]:
S1= "hello"
s2= "12345"
s3="hello123"
print(S1.isalpha())
print(s2.isdigit())
print(s3.isalnum())

True
True
True

In [5]:
name="aman"
age=23
print("this is my name {} and i am  {} year old.".format(name, age))

this is my name aman and i am  23 year old.

In [6]:
name="aman"
age=23
print(f"my name is {name} and i am {age} year old.")

my name is aman and i am 23 year old.

In [8]:
regular_String ="C:\\User\\Name\\Document"
raw_String = r"C:\Users\Name\Document"
print(regular_String)
print(raw_String)

C:\User\Name\Document
C:\Users\Name\Document

In [16]:
s ="hello world"
print(s.find("world"))
print(s.index("world"))
print(s.find("[ythan]"))
print(s.index("[ythan]"))

6
6
-1

ValueError: substring not found

# check whtre the sstring is plaindrone or not:

In [2]:
str="naman"
if str==str[::-1]:
    print("yes it is")

else:
    print("this is not ")

yes it is

In [1]:
def count_word(str):
    word = str.split()
    word_count={}
    for i in word:
        word_count[i]=word_count.get(i ,0)+1
    return word_count
count_word("hello pythan back to my class")

{'hello': 1, 'pythan': 1, 'back': 1, 'to': 1, 'my': 1, 'class': 1}

In [5]:
# longest word in a sentence :M

def longest(str):
    words=str.split()
    return max(words ,key=len)
longest("this is aman budhwar an see the you tube vedeo")

'budhwar'

In [2]:
def last(str):
    word =str.split()
    if word:
        return len(word [-1]) 
    else:
        return "no word"
    
last("this is my live classess")

8

# list in pyhtan

# agenda:
## 1.how to create list
## how to acess list
## types of list
## how to acess list
## nested slicing and indexing

In [5]:
a= [1,2,3,5,5,6,4,3,] #homogenious list

b=[1,"2",(1,2,3),4+4j,True] #heterogenous list

In [6]:
type(b)

list

In [7]:
b=[1,"2",(1,2,3),4+4j,True,[1,43,5,5]] #nested list

In [8]:
type(b)

list

In [9]:
b[5] #indexing

b[ 0:3]

[1, '2', (1, 2, 3)]

In [10]:
b[3::1] # slicing

[(4+4j), True, [1, 43, 5, 5]]

In [12]:
b[4::-2]

[True, (1, 2, 3), 1]

In [13]:
b=[1,"2",(1,2,3),4+4j,True,[1,43,5,5]]

In [20]:
b[5][2]

5

# operators

In [21]:
l1=[1,2,3,4,5]
l2=[1,1,23,4,5,]

In [22]:
l1+l2

[1, 2, 3, 4, 5, 1, 1, 23, 4, 5]

In [23]:
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [24]:
# repertiton operation

a=3
l1

[1, 2, 3, 4, 5]

In [27]:
l1*a

9

In [29]:
l1 =[1,2,3,4]

In [33]:
if 5 in l1:
    print("yes")
else:
    print("no")

no

In [34]:
l1

[1, 2, 3, 4]

In [35]:
# looping

l1
for i in l1:
    print(i)

1
2
3
4

In [37]:
i =0
while i<len(l1):
    print(l1[i])
    i=i+1

1
2
3
4

# function

In [38]:
l1

[1, 2, 3, 4]

In [40]:
sum(l1)

10

In [41]:
len(l1)

4

In [43]:
max(l1)

4

In [44]:
min(l1)

1

In [45]:
l3=[1,4,5,3,4,2,98,65,]
sorted(l3)

[1, 2, 3, 4, 4, 5, 65, 98]

In [48]:
l3=[2,4,6,7]
rv=list(reversed(l3))
print(rv)

[7, 6, 4, 2]

In [56]:
l1=[2,3,4,5,6,[72,1,2,3,43,9]]

In [3]:
print=l1[3:][4]

NameError: name 'l1' is not defined

# list modification

In [2]:
# append : it add element in list , one element only
l=[2,3,4,5,6,[72,1,2,3,43,9]]

In [5]:
l=[2,3,4,5,6,[72,1,2,3,43,9]]
l.append("aman")
print(l)

[2, 3, 4, 5, 6, [72, 1, 2, 3, 43, 9], 'aman']

In [9]:
l.append("vikas")
print(l)

[2, 3, 4, 5, 6, [72, 1, 2, 3, 43, 9], 'aman', 'vikas', 'vikas']

In [11]:
# extend : add more value or element at last
l.extend([2,3,4])
print(l)

[2, 3, 4, 5, 6, [72, 1, 2, 3, 43, 9], 'aman', 'vikas', 'vikas', 2, 3, 4, 2, 3, 4]

In [13]:
# insert:  add a element at any specific position 

l.insert(6,9)
print(l)

[2, 3, 4, 5, 6, [72, 1, 2, 3, 43, 9], 9, 9, 'aman', 'vikas', 'vikas', 2, 3, 4, 2, 3, 4]

In [15]:
# to removes value

l.remove(9)
print(l)

[2, 3, 4, 5, 6, [72, 1, 2, 3, 43, 9], 'aman', 'vikas', 'vikas', 2, 3, 4, 2, 3, 4]

In [17]:
l.pop()
print(l)

[2, 3, 4, 5, 6, [72, 1, 2, 3, 43, 9], 'aman', 'vikas', 'vikas', 2, 3, 4, 2]

In [18]:
l.pop(6)
print(l)

[2, 3, 4, 5, 6, [72, 1, 2, 3, 43, 9], 'vikas', 'vikas', 2, 3, 4, 2]

In [20]:
l= list()
print(l)

[]

In [21]:
l=[2,3,4,5,6,[72,1,2,3,43,9]]

In [22]:
l.clear()

In [23]:
print(l)

[]

In [24]:
l.append(5)

In [25]:
l

[5]

In [28]:
del(l)

In [29]:
l.append()

NameError: name 'l' is not defined

# shallow and deep copy

In [30]:
# shallow copy: creates a new list object with the same elements,but doees not create copies or nested objects

In [3]:
lst = [2, 3, [4, 5], 6]
shallow = lst.copy()
shallow[2][1] = 88  # This modifies the list [4, 5] to [4, 88]

In [4]:
lst

[2, 3, [4, 88], 6]

In [7]:
shallow

[2, 3, [4, 88], 6]

In [9]:
l= [2, 3, [4,5,9], 6]
import copy
s=l.copy()

In [10]:
l

[2, 3, [4, 5, 9], 6]

In [11]:
s[2][2]=77

In [12]:
s

[2, 3, [4, 5, 77], 6]

In [13]:
l

[2, 3, [4, 5, 77], 6]

In [14]:
l= [2, 3, [4,5,9], 6]

In [15]:
deepcopy=copy.deepcopy(l)

In [16]:
l

[2, 3, [4, 5, 9], 6]

In [17]:
deepcopy[2][2]=90

In [18]:
deepcopy

[2, 3, [4, 5, 90], 6]

In [19]:
l

[2, 3, [4, 5, 9], 6]

# zip and enumerate

In [20]:
l1=[1,2,3,4]
l2=[5,6,7,8]

In [25]:
a = zip(l1,l2)

print(dict(a))

{1: 5, 2: 6, 3: 7, 4: 8}

In [26]:
l1=(1,2,3,4)
l2=(5,6,7,8)

In [27]:
a =zip(l1,l2)
print(dict(a))

{1: 5, 2: 6, 3: 7, 4: 8}

In [28]:
s1 = "123"
s2= "aman"

b=zip(s1,s2)
print(dict(b))

{'1': 'a', '2': 'm', '3': 'a'}

In [30]:
r1=range(1,6)
r2=range(7,15)

b=zip(r1,r2)
print(dict(b))

{1: 7, 2: 8, 3: 9, 4: 10, 5: 11}

In [40]:
names = ["aman","vikas","pooja"]
ages = [23,35,50]
city =["india","southafrica","england"]

In [42]:
z=zip(names,city,ages)
print(list(z))

[('aman', 'india', 23), ('vikas', 'southafrica', 35), ('pooja', 'england', 50)]

# enumerate()

In [45]:
names = ["aman","vikas","pooja"]
for i,j in enumerate(names):
    print(i,j)

0 aman
1 vikas
2 pooja

In [46]:
names = ["aman","vikas","pooja"]
for i,j in enumerate(names,start=1):
    print(i,j)

1 aman
2 vikas
3 pooja

In [51]:
items={"a":1,"b":2,"c":3}

for index, (key,value) in enumerate(items.items(),start=1):
    print(index,key,value)

1 a 1
2 b 2
3 c 3

# list compresion
## vo hota h jo sari values ko 1 line m stroe kra de

In [55]:
s = []
for i in range(11):
    s.append(i**2)

In [53]:
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
s = [i**2 for i in range(11)]

In [57]:
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
s =[i**2 for i in range(11) if i %2==0]

In [59]:
s

[0, 4, 16, 36, 64, 100]

In [60]:
s =[i**2 for i in range(11) if i %2!=0]

In [61]:
s

[1, 9, 25, 49, 81]

# shorted and sort

In [66]:
l = [13,5,4,6,14,67]
li=l.sort(reverse=True)

In [67]:
l

[67, 14, 13, 6, 5, 4]

In [68]:
it=[1,2,3,432,5,4325,34,3423,234,32312,3123]

In [69]:
sort_it= sorted(it)

In [70]:
it

[1, 2, 3, 432, 5, 4325, 34, 3423, 234, 32312, 3123]

In [71]:
sort_it

[1, 2, 3, 5, 34, 234, 432, 3123, 3423, 4325, 32312]

In [72]:
x=5
del x
print(x)

NameError: name 'x' is not defined

In [74]:
l=[1,2,3]
del l[0]
print(l)

[2, 3]

In [78]:
my_dict ={"a":1,"b":2,"c":3}
del my_dict['b']

In [79]:
my_dict

{'a': 1, 'c': 3}

In [80]:
# None : it is data type

In [86]:
x = None
print(x)
type(x)

x=5
print(x)

None
5

In [83]:
x = True
print(True)
type(x)

True

bool

In [88]:
x=None
if x is None:
    print("x is none")
else:
    print("x is not none")

x is none

# reversed

In [89]:
l=[1,2,3,4,5]

In [90]:
l[::-1]

[5, 4, 3, 2, 1]

# check for duplicates
### problem: write a pythan function that check whether a kist contains any duplicates.

In [98]:
#def duplication(l):
l=[1,2,3,4,4,5,6,6,7,8,7]
a=(len(l))
print(a)

b=(len(set(l)))
print(b)

11
8

In [1]:
l1=[1,2,3,4,5,]

In [7]:
def roatate_list(l1,k):
    return l1[-k:] + l1[:-k]
roatate_list(l1,2)

[4, 5, 1, 2, 3]

# split a list into chunks
## problem:write a pythan function that splits a list into chunks of size n

In [15]:
l1

def chuck_list(l1,n):
    chucks=[]
    for i in range(0 ,len(l1),2):
        chunk=l1[i:i+2]
        chucks.append(chunk)
    return chucks

chuck_list(l1,2)

[[1, 2], [3, 4], [5]]

# remove duplicate from a list
## question:given a list,removes the duplicate without using any additional data structure and return the list in the original order,

In [11]:
l1=[1,2,3,4,4,5,5]
def remove(l1):
   
    i=0
    while i<len(l1):
        if l1.count(l1[i])>1:
            l1.remove(l1[i])

        else:
            i+=1
        return l1
remove(l1)

[1, 2, 3, 4, 4, 5, 5]