# lambda

### no name: ananoymous function
### no return keyword
### no syntax
### no reuse
### one line only

In [13]:
def fun(a):
    return a**2

fun(3)

9

In [2]:
a=lambda x:x**3
a(8)

512

In [14]:
a=lambda x: x**2
a(5)

25

In [15]:
a=lambda x,y: x+y
a(5,6)

11

In [16]:
a=lambda x,y: x+y
a("aman","budhwar")

'amanbudhwar'

In [17]:
a=lambda x: x%2==0
a(6)

True

In [3]:
is_odd=lambda x: x%2!=0
is_odd(4)

False

# map 
## when we usse higher function

In [19]:
a=lambda x: x**2


l=[2,3,4,5,6]

In [20]:
map(a,l)
list(map(a,l))

[4, 9, 16, 25, 36]

In [6]:
a=lambda x:x**3

l=[1,2,3,4,5]

map(a,l)
list(map(a,l))

[1, 8, 27, 64, 125]

In [8]:
a=lambda x:x**3

t=(1,2,3,4,5)

map(a,t)
tuple(map(a,t))

(1, 8, 27, 64, 125)

In [21]:
string=['aman','vikas','pythan']

def to_upper(s):
    return s.upper()

In [22]:
a=map(to_upper,string)
tuple(a)

('AMAN', 'VIKAS', 'PYTHAN')

# filter

In [37]:
#filter (function ,iterable )

In [31]:
a=filter(lambda x: x%2==0,l)

In [26]:
l

[2, 3, 4, 5, 6]

In [35]:
list(a)

[2, 4, 6]

In [36]:
a=filter(lambda x: x%2!=0,l)

list(a)

[3, 5]

In [39]:
def even(a):
    return a%2==0

list(filter (even,l))

[2, 4, 6]

In [40]:
def odd(a):
    return a%2!=0

list(filter(odd,l))

[3, 5]

In [43]:
words= ['aman','pushpansh','vikas','addi']

a=filter(lambda word : len(word)>4,words)

list(a)

['pushpansh', 'vikas']

In [46]:
string=['aman','vikas','muskan','tommy','aunty']

a=filter(lambda str : len(str)>=5,string)
tuple(a)

('vikas', 'muskan', 'tommy', 'aunty')

In [47]:
from functools import reduce

In [48]:
l

[2, 3, 4, 5, 6]

In [50]:
reduce(lambda x,y: x+y,l)

20

In [51]:
def sum(x,y):
    return x+y

reduce (sum,l)

20

In [59]:
reduce(lambda x,y: x if x>y else y,l)

6

In [61]:
def max1(x,y):
    return x if x>y else y
reduce(max1,l)

6

In [62]:
reduce(lambda x,y: x if x<y else y,l)

2

## size of aa iterable or iterator

In [10]:
list=[1,2,3,435,5,4]
t=(1,2,3,4,5)
str="prince"


for i  in str:
    print (i)

p
r
i
n
c
e

In [1]:
lis= [i for i in range(1000000)]
import sys

print(sys.getsizeof(lis))

8448728

In [62]:
a= range(1000000)
import sys

print(sys.getsizeof(a))

48

# check it is itreatable or not

In [11]:
l=[1,2,434,5,]

"__iter__"in dir(l)
#"__next__"in dir(l)

True

In [65]:
"__iter__"in dir(34)
"__next__"in dir(34)

False

# iterable convert to iterator

In [67]:
l=[1,2,434,5,]
l2=iter(l)
"__iter__"in dir(l)
"__next__"in dir(l2)

True

In [2]:
next(l2)

1

# cussstomise loop

In [14]:
l=[1,2,3,4,5,66,]
for i in l:
    print(i)

1
2
3
4
5
66

In [16]:
num=[1,233,534,645,756,565,6565]
def myloop(num):
    a=iter(num)
    print(next(a))
    while True:
        try:
            print(next(a))
        except StopIteration:
            break


myloop(num)

1
233
534
645
756
565
6565

In [76]:
a=(1,2,3,4,5,4)
def myloop(a):
   b=iter(a)
   print(next(b))
   while True:
        try:
            print(next(b))

        except StopIteration:
            break

myloop(a)

1
2
3
4
5
4

In [70]:
t=(1,2,3,4,5,6,6,6)
def myloop(t):
    iterator=iter(t)
    print(next(iterator))
    while True:
        try:
            print(next(iterator))

        except StopIteration:
            break
    



myloop(t)

1
2
3
4
5
6
6
6

In [71]:
myloop(range(1,5))

1
2
3
4

In [73]:
myloop("my love is my dad")

m
y

l
o
v
e

i
s

m
y

d
a
d

In [72]:
myloop(("amanbudhwar"))

a
m
a
n
b
u
d
h
w
a
r

# khud ka range

In [1]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [1]:
class myrange:

    def __init__(self,start,stop,step):
        self.start =start
        self.stop=stop
        self.step=step

    def __iter__(self):
        return self
    
    def __next__(self):
        if self.start<self.stop:
            value=self.start
            self.start =self.start +self.step
            return value
        
        else:
            raise StopIteration

In [3]:
r=myrange(1,10,2)
for i in r:
    print(i)

1
3
5
7
9

In [27]:
class myrange:

    def __init__(self,start,stop,step):

        self.start=start
        self.stop =stop
        self.step=step

    def __iter__(self):
        return self
    
    def __next__(self):
        if self.start<self.stop:
            value=self.start
            self.start=self.start+self.step
            return value
        
        else:
            raise StopIteration

In [29]:
a=myrange(2,12,2)
for i in a:
    print(i)

2
4
6
8
10

# generator function

## memory consuption

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
l=[i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
def fibo(n):
    l=[]
    a,b=0,1
    for _ in range(n):
        l.append(a)
        a,b=b ,a+b
    return l
    
n=12
fibo(n)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [16]:
def fibo(n):
   
    a,b=0,1
    while a<n:
        yield a
        a,b=b ,a+b
   
    
for i in fibo(100):
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89

In [17]:
genertor_exp=(i * 5 for i in range(5) if i%2==0)

for i in genertor_exp:
    print(i)

0
10
20

# Create a Generator in Python
### in Python, we can create a generator function by simply using the def keyword and the yield keyword. The generator has the following syntax in Python:
# Example:

### In this example, we will create a simple generator that will yield three integers. Then we will print these integers by using Python for loop.

In [18]:
def simpleGeneratorFun():
    yield 1            
    yield 2            
    yield 3 

for value in simpleGeneratorFun(): 
    print(value)

1
2
3

# Generator Object
### Python Generator functions return a generator object that is iterable, i.e., can be used as an Iterator. Generator objects are used either by calling the next method of the generator object or using the generator object in a “for in” loop.

# Example:

### In this example, we will create a simple generator function in Python to generate objects using the next() function.

In [19]:
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3

x = simpleGeneratorFun()
print(next(x))
print(next(x))
print(next(x))

1
2
3

# Example:

### In this example, we will create two generators for Fibonacci Numbers, first a simple generator and second generator using a for loop.

In [20]:
def fib(limit):
    a ,b =0,1
    while b < limit:
        yield b
        a, b =b, a+b

x = fib(200)

for i in x:
    print(i)

1
1
2
3
5
8
13
21
34
55
89
144

# difference between yield and return

In [4]:
def mul():
    yield 1
    print("this is my yeild")


for i in mul():
    print(i)

1
this is my yeild

In [5]:
def re(a):
    return a
    print("this is my return")
re(3)

3

## return multiple times

In [7]:
def mul():
    yield 1
    yield 2


for i in mul():
    print(i)

1
2

## only one time return

In [8]:
def re(a,b):
    return a
    return b
re(3,6)

3

### we find any  middel value  in the syntax fin with the help of yeild but in return we can not find

In [13]:
def mul():
    yield 1
    yield 2
    yield 3


a= mul()
print(next(a))
print(next(a))
print(next(a))

1
2
3

## we return vlaues in return function we can take different values  we cant find any middle value in the syntax

In [16]:
def re(a,b):
    return a,b
    
r=re(3,6)
r1=re(4,5)
print(r)
print(r1)

(3, 6)
(4, 5)

# decorators

In [40]:
def deco(func):
    def fun():
        print("@@@@@@@@@")
        func()
        print("@@@@@@@@@")

    return fun

In [41]:
@deco
def hello():
    print("hello aman i am heare to help you ")

hello()

@@@@@@@@@
hello aman i am heare to help you
@@@@@@@@@

In [42]:
@deco
def hello():
    print("hyy priya i am here tu help you ")

hello()

@@@@@@@@@
hyy priya i am here tu help you
@@@@@@@@@

## function ka execution time

In [57]:
import time
def time_deco(func):
    def lucha():
        start_time=time.time()
        result=func()
        end_time=time.time()
        print(f"execution time{end_time-start_time:.5f}")

        return result
    return lucha

In [58]:
@time_deco
def base():
    print("start execution")
    time.sleep(2)
base()

start execution
execution time2.00101

In [59]:
@ time_deco
def arun():
    print("aman is good boy")
    time.sleep(3)

arun()

aman is good boy
execution time3.00271