# creating a tuple using parentheses

In [4]:
t=(1,23,4)

In [2]:
type(t)

tuple

In [7]:
t=(1,23,4,"aman",True)
t

(1, 23, 4, 'aman', True)

In [9]:
t[4]

True

# creating a tuple without parentheses(tuple packing)

In [10]:
t=3,3,4,5,6,7,7
type(t)

tuple

# creating a tauple using the tauple (constructur)

In [11]:
t= tuple([1,2,3])

In [12]:
type (t)

tuple

# creating aan emty tuple

In [15]:
t =(1,2)

In [16]:
type(t)

tuple

In [19]:
len(t)

2

(1, 2)

# creating a single element tuple

In [20]:
t =(1,)

In [21]:
len(t)

1

In [22]:
type (t)

tuple

# creating a nested tuple

In [23]:
nes =((1,2),(3,4),(5,6))

In [24]:
type(nes)

tuple

In [25]:
nes[0][1]

2

In [26]:
dict = {1:4,2:5,3:6}

In [28]:
dict = {(1,4):"a",(2,5):"b",(3,6):"c"}

## returning Multiple values from a function: scenarior:tuple are ,  often used to return multiple values from a function.since tuples are imutable they ensure that the returned data remains consistant and protected from unintented changes.

In [30]:
def my_func():
    name ="aman",
    age =22,
    grade="a"
    return name,age,grade
my_func()

(('aman',), (22,), 'a')

# packing or un packing

In [31]:
student= "aman",22,"a"  # packing

#unpacking
name, age, grade =student

In [32]:
type(student)

tuple

In [34]:
def student():
    name="aman",
    age =22,
    grade ="a"
    return name,age,grade

student()

(('aman',), (22,), 'a')

In [35]:
a=5
b=7

a,b=b,a

In [36]:
a

7

In [37]:
b

5

In [38]:
nes =((1,2),(3,4),(5,6))

In [40]:
# indexing

nes[-1][1]

6

In [42]:
nes[0:2:1]

((1, 2), (3, 4))

# methods

In [49]:
t = (1,2,3,3,4,5)

In [48]:
t.count(3)

2

index(x): returns the index of the first occurrence of x

In [51]:
t = (1,2,3,3,4,5)
t.index(3)

2

# operators function
## opearors
.concatention(+):combines two tuples.
repetition(''):repeats the elements of the tuple a given number of times.
membership(in): checks if an element is in the tuple

In [52]:
tuple1 = (1,2)
tuple2 = (3,4)

tuple1+tuple2

(1, 2, 3, 4)

In [53]:
tuple1*3

(1, 2, 1, 2, 1, 2)

In [54]:
tuple1

(1, 2)

In [55]:
len(tuple1)

2

In [56]:
max(tuple1)

2

In [57]:
min(tuple1)

1

In [62]:
sum(tuple1)

3

In [61]:
sorted(tuple1)

[1, 2]

# questions: write a function that returns the first and last element of a tuple

In [7]:
def letter(t):
    return t[0] , t[-1]

tuple = (1,2,3,4,5,6)
letter(tuple)

(1, 6)

# question: given a tuple of tuples,each containing two intergers, write a function that returns a tuple with the sums of each inner tuple

In [1]:

def top(t):
    return tuple( sum(i) for i in t)

tup_tip =((1,2),(3,4),(5,6))
print(top(tup_tip))

(3, 7, 11)

# ouestion: given a tuple with multiple elements, write a function that finds an returns the tuple with the maximum sun of its elements.

In [2]:
def max_tuple (t):
    return max(t ,key=lambda x : sum(x))


tuple_list=[(1,2,3),(4,5),(6,7,8,9),(10,)]
max_tuple(tuple_list)

(6, 7, 8, 9)

# question: write a function that takes a tuple of string and returns a tuple where each string is reversed.

In [4]:
def reve(t):
    return tuple(i[::-1]for i in t)

my_tuple =('apple','banana','cherry')
reve(my_tuple)

('elppa', 'ananab', 'yrrehc')

# key properties of Sets:

### 1,uniqueness:Sets only contains unique elements. if you try to add a duplicate ,it will be ignored.
### 2. unordered: element in a set have no specific order. the order of elements when iterated when iterated is not guarented.
### 3. mutable: elemenet cannbe added or removed from a set after its certion.
### 4.iterability: sets can be iterated using loops, allowing you to acess each element.

In [6]:
s ={1,2,3}
type(s)

set

In [1]:
dict={1:2,3:4}
type(dict)

dict

In [2]:
s1={}
type(s1)

dict

In [3]:
d1={}
type(d1)

dict

In [1]:
s2 =set()
type(s2)

set

In [1]:
s3={1,2,3,"aman",(1,2,3)}
type(s3)

set

In [3]:
print(hash((1,2,3)))

529344067295497451

In [10]:
my_set =set([1,24,3,"aman"])
type(my_set)

set

In [12]:
l=[1,2,3,4]
l1=set(l)
type(l1)

set

In [13]:
l="aman"
l1=set(l)
type(l1)

set

In [3]:
# uniqueness

s={1,2,34,56,34,76,34,89,76}
print(s)

{1, 2, 34, 56, 89, 76}

In [16]:
s[0]=90

TypeError: 'set' object does not support item assignment

In [18]:
s.add(89)
s

{1, 2, 34, 56, 76, 89}

In [4]:
s
for i in s:
    print(i)

1
2
34
56
89
76

# where and when to use sets

## 1.removing duplicates:
 ## . use sets when you need to store a collection of unique elements and automatically handle duplicates

## 2. fast membership testing:
## . sets offer faster membership testing(in operator) compared to list or tuples
## 3. mathematical operation:
## . sets are ideal for performing mathematical operation like union, intersection, difference, and symmetry difference.

## 4.handling large datasets:
## .sets are highly efficient for operations that involve large datasets,where you need to compare, combit or deduplicate data.

In [11]:
l=[1,23,23,4,5565,6,7,67,77,788,788,87,8]
l1=set(l)

In [12]:
l1

{1, 4, 6, 7, 8, 23, 67, 77, 87, 788, 5565}

In [13]:
for i in range(1,1000):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [14]:
243 in set(range(1,1000))

True

In [20]:
l1 = set(range(1,1000))
l2= set(range(500,2000))


l1&l2

{500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999}

SyntaxError: invalid syntax (3179633991.py, line 1)

# important notes and besr practices

## sets are unorderd:you cannot rely on the order of element in a set.
## sets do not support indexing: you cannot acess elements by index; instead, use loop or memeber ship test.
## sets are mutable: you can add,remove,add modify elements after certain.
## set elements must be hashable: this means you cannot have mutable elements like list as set element

In [21]:
l=set([1,2,3,4,546,34,56,56,76768,76,7])

In [22]:
type(l)

set

In [23]:
l

{1, 2, 3, 4, 7, 34, 56, 76, 546, 76768}

add(element)

In [26]:

s={1,2,4,3,54,6}
s.add(56)

In [27]:
s

{1, 2, 3, 4, 6, 54, 56}

# remove

In [28]:
s.remove(54)
s

{1, 2, 3, 4, 6, 56}

# discard

In [29]:
s.discard(54)

In [30]:
s.discard(6)

In [31]:
s

{1, 2, 3, 4, 56}

# clear

In [32]:
s.clear()

In [33]:
s

set()

In [35]:
s.add(5)

In [36]:
s

{5}

In [37]:
s.pop()

5

In [38]:
s.pop()

KeyError: 'pop from an empty set'

# operator on sets 
## 1.union(|):
##   . combines elements from both sets.

## 2.intersection(&):
##   .finds common elements between sets.

In [40]:
set1= {1,2,3}
set2= {3,5,6}
print(set1 | set2)

{1, 2, 3, 5, 6}

In [41]:
set1= {1,2,3}
set2= {3,5,6}
print(set1 & set2)

{3}

# difference

In [42]:
set1= {1,2,3}
set2= {3,5,6}

print(set1 -set2)

{1, 2}

# symetric

In [43]:
print(set1 ^ set2)

{1, 2, 5, 6}

In [44]:
set1.union(set2)

{1, 2, 3, 5, 6}

In [45]:
set1.intersection(set2)

{3}

In [46]:
set1.difference(set2)

{1, 2}

In [47]:
set1.symmetric_difference(set2)

{1, 2, 5, 6}

# when to use set comprehension?
## .when you need a unique collection of elements: since sets automatically handle duplicate,set comprehension is usefull when you want to create a collection of unique values.
## .when you need concise code: set comprehension provides a compect syntax to built sets, making your code cleaner and easier to understaand.
## when filtering data: you can use set comprehension to filter data and built sets that meet speacific criter  

# when to avoid set comprehension?: 
## .when order matters: sets are unordered collections, so if you need to maintain the        should use a list comprehension instead.
## . when performance is critical : set comprehension is consise but may not always

In [4]:
square ={i**2 for i in range(11) if i%2==0}
square

{0, 4, 16, 36, 64, 100}

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
data =[1,2,3,4,5,6,7,8,9]
{i**2 for i in data if i%2==0}

{4, 16, 36, 64}

In [7]:
words =["apple","banana","cherry","date"]
{len(word) for word in words}

[5, 6, 6, 4]

# frozen set
## a frozen set is an immutable version of a set.like sets,frozen sets are collection of unique elements. this immutable makes frozen set hashable,meaning they can be used as key in dicitionries or elements of othar sets, something that regular set can not do.

# key characteristices of frozen sets
## 1.immutable: unline regularsets, frozen sets cannot be altered after they are created.oyou cannot add,remove, or change elements.
## 2.hashable: because they are immutable, frozen sets can be used as key in dictionaries or as elements in other sets.
## 3.unordered:similiar to regular sets,frozen sets do not maintain any order of element
## 4.unique elements: frozen sets,like sets,contain only unique elements.

# creating a frozen set
## to create a frozen set,you use the frozenset() constructor. you can pass any iterable to frozenset().

In [10]:
a=set([1,2,3,4])
a.add(98)

In [11]:
a

{1, 2, 3, 4, 98}

In [20]:
s1 =frozenset([1,2,3,4,5])

In [17]:
s1

frozenset({1, 2, 3, 4, 5})

In [22]:
s2=frozenset("prince")

In [19]:
s1

frozenset({'c', 'e', 'i', 'n', 'p', 'r'})

In [23]:
s1.intersection(s2)

frozenset()

In [24]:
s1.union(s2)

frozenset({1, 2, 3, 4, 5, 'c', 'e', 'i', 'n', 'p', 'r'})

In [27]:
my_dict={s1:"first",s2:"second"}
type(my_dict)

dict

In [28]:
my_dict[s1]

'first'

In [30]:
frozenset(["monday","tuesday","wednesday","thursday","friday","saturday"])

frozenset({'friday', 'monday', 'saturday', 'thursday', 'tuesday', 'wednesday'})

In [35]:
def remove_duplicate(arr):
    return list(set(arr))

arr=[1,2,3,4,4,5]
print(remove_duplicate(arr))

[1, 2, 3, 4, 5]

In [38]:
l=[2,34,43,5,45,5,6,56,4,54,54,5,4,5,43,4,3,4,3,4,5]
set(l)

{2, 3, 4, 5, 6, 34, 43, 45, 54, 56}

In [45]:
l=[1,2,4,5,6,8]
l1=set(range(1,10))
(l1-set(l))

{3, 7, 9}

In [46]:
s1="listen"
s2="silent"

set(s1) == set(s2)

True

In [49]:
sen = "that is my pythan class attend all the student "
sen1=sen.split()

In [51]:
set(sen1)

{'all', 'attend', 'class', 'is', 'my', 'pythan', 'student', 'that', 'the'}

# dictionary

In [53]:
d={}
type(d)

dict

In [54]:
d={"name":"aman","age":23}

In [55]:
type(d)

dict

In [56]:
print(d)

{'name': 'aman', 'age': 23}

In [1]:
dict1=dict(name="aman",age=23)
dict1

{'name': 'aman', 'age': 23}

In [4]:
dict2 =[('name','prince'),('age',25),('grade',1)]
type(dict2)
dict3=(dict2)
dict3

[('name', 'prince'), ('age', 25), ('grade', 1)]

In [2]:
l1=[1,2,3,4]
l2=[5,6,8,9]
dict(zip(l1,l2))

{1: 5, 2: 6, 3: 8, 4: 9}

# freatures of dictionaries:

ordercollection

In [5]:
dict3

[('name', 'prince'), ('age', 25), ('grade', 1)]

# mutable

In [6]:
dict = {'name': 'aman','age':25,'city':'new york'}
dict

{'name': 'aman', 'age': 25, 'city': 'new york'}

In [7]:
dict['gender']='male'

In [8]:
dict

{'name': 'aman', 'age': 25, 'city': 'new york', 'gender': 'male'}

# unique key

In [11]:
dict = {'name': 'aman','age':25,'city':'new york','age':35}

In [12]:
dict

{'name': 'aman', 'age': 35, 'city': 'new york'}

imutable objects(allowed as keys):

intergers
string
tuples(if they contain only imutable elements)
frozensets

mutable objects (not allowed as keys):

lists
sets
dictionaries

In [20]:
dict1 = {'name':'prince',"aman":25,'city':'new york',2:3, 4:5,'is_studen':True}
dict1

{'name': 'prince',
 'aman': 25,
 'city': 'new york',
 2: 3,
 4: 5,
 'is_studen': True}

In [21]:
dict1={'name':'prince', (1,2,3):25, 'city':'new york',2:3 , 4:5,}

In [24]:
dict["a"] = "a"

In [25]:
dict

{'name': 'aman', 'age': 35, 'city': 'new york', 'a': 'a'}

# method

## 1.dict.keys()
return a view object that displays a list of all the keys in the dictionary.

## 2.dict.values()
returns a view object that displays a list of all the values in the dictionary.

## 3.dict.items()
returns a view object that displays a list of key-values pairs(as tuples).

## 4.dict.get(key[, default])

returns the values for a specified key if the key is in the dictionary, otherwise it returns the default value(if provided), otherwise it raises a key error.

## 5.dict.pop(key[, default])

removes the key from the dictionary and returns its value.if the key does not exist, it returns the default value(if provided), otherwise it raise a keyerror.

## 6.dict.update([ other])
update the dictinoary with the key-values pairs from another dictionary por iterable of key-values pairs.

## 7.dict.setdefault(key[, deault])
returns the values of a specified key. if the key does not exist, it inserts the key with the specified default value.

## 9.dict.copy()
returns a shallow copy of the dictionary 

## 10.dict.popitem()
removes and returns the last key value pairs as a tuple. raises keyerror if the dic

In [11]:
dict1 ={'name':'prince', (1,2,3):25, 'city':'new york'}

In [13]:
dict1.keys()

dict_keys(['name', (1, 2, 3), 'city'])

In [14]:
for i in dict1:
    print(i)

name
(1, 2, 3)
city

In [15]:
dict1.values()

dict_values(['prince', 25, 'new york'])

In [16]:
for i in dict1.values():
    print(i)

prince
25
new york

In [17]:
dict1.items()

dict_items([('name', 'prince'), ((1, 2, 3), 25), ('city', 'new york')])

In [18]:
for i in dict1.items():
    print(i)

('name', 'prince')
((1, 2, 3), 25)
('city', 'new york')

In [24]:
dict1.get('age')
dict1

{(1, 2, 3): 25, 'city': 'new york', 'class': 33}

In [20]:
dict1.update({"name":'sohan',"class":33})

In [27]:
dict1['gender']="m"

In [25]:
dict1.popitem()

('class', 33)

In [28]:
dict1

{(1, 2, 3): 25, 'city': 'new york', 'gender': 'm'}

In [31]:
dict2 =dict1.copy()
dict2['place']="okk"

In [32]:
dict2

{(1, 2, 3): 25, 'city': 'new york', 'gender': 'm', 'place': 'okk'}

In [33]:
dict1

{(1, 2, 3): 25, 'city': 'new york', 'gender': 'm'}

In [34]:
dict1.clear()

In [35]:
dict1

{}

# operations and function in dictionary

In [36]:
dict1 ={'name':'prince', (1,2,3):25, 'city':'rohtak'}

In [37]:
"name" in dict1 #keys

True

In [42]:
dict1 ={'a':1, 'b':2}
dict2 ={'a':1, 'b':2}
dict3 ={'a':1, 'b':3}

dict1==dict2
dict1!=dict2
dict1!=dict3

True

In [43]:
dict1 ={'a':1, 'b':2}
dict1['a']=10

In [44]:
dict1

{'a': 10, 'b': 2}

In [45]:
dict1

{'a': 10, 'b': 2}

In [46]:
len(dict1)

2

In [52]:
dict1 ={'name':'prince','age' :25, 'city':'rohtak'}

In [48]:
print(any(dict1))

True

In [61]:
dict1 ={'name':'aman','age':'22', 'city':'rohtak'}
print(all(dict1.values()))

True

In [62]:
max(dict1)

'name'

In [63]:

min(dict1)

'age'

In [66]:
list(reversed(dict1.values()))

['rohtak', '22', 'aman']

In [67]:
sorted(dict1)

['age', 'city', 'name']

# nested dictionary

In [80]:
student_info={
    'student1':{
        "name":"aman",
        "age":"25",
        "marks":{
            "math":45,
            "science":49,
        }
    },
    'student2': {
        'name':'rahul',
        'age': '24',
        'marks':{
            'math':65,
            'science':69
        }
    }
}

In [69]:
student_info

{'name': 'aman',
 'age': '25',
 'subject': {'math': 45, 'science': 49, 'english': 54}}

In [70]:
student_info["subject"]["science"]

49

In [71]:
student_info["subject"]["english"]=56

In [72]:
student_info

{'name': 'aman',
 'age': '25',
 'subject': {'math': 45, 'science': 49, 'english': 56}}

In [77]:
student_info['student2']['marks']['science']

69

In [85]:
for student_id,details in student_info.items():
    print(student_id,details)
    print(details["name"])
    print(details["age"])

    for subject, marks in details['marks'].items():
        print(f"{subject}:{marks}")

student1 {'name': 'aman', 'age': '25', 'marks': {'math': 45, 'science': 49}}
aman
25
math:45
science:49
student2 {'name': 'rahul', 'age': '24', 'marks': {'math': 65, 'science': 69}}
rahul
24
math:65
science:69

# comprehension

In [87]:
square ={x:x*x for x in range(1,6)}
square

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [88]:
square={}
for i in range (1,6):
    square[i]=i*i

print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [93]:
square ={x:x*x for x in range(1,6) if x% 2 == 0 }
square

{2: 4, 4: 16}

In [95]:
original ={'apple':2,'banana':5,'cherry':15,'abhi':8}
a={key:value for key,value in original.items() if value<10 }
a

{'apple': 2, 'banana': 5, 'abhi': 8}

In [98]:
fruits=['apple','banana','cherry']
f={fruit.upper() :len(fruit) for fruit in fruits}
f

{'APPLE': 5, 'BANANA': 6, 'CHERRY': 6}

# dictionary questions

In [2]:
l1=[1,2,3,4,5,6]
l2=["aman","vikas","muskan","sameer","shahid","purnima"]
result=dict(zip(l1,l2))
result

{1: 'aman', 2: 'vikas', 3: 'muskan', 4: 'sameer', 5: 'shahid', 6: 'purnima'}

In [5]:
str ="mississippi"
dic ={}
for i in str:
    dic[i]=dic.get(i,0)+ 1

print(dic)

{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [8]:
str="amaamamanaja"
a={}
for i in str:
    a[i]=a.get(i,0)+1
print(a)

{'a': 7, 'm': 3, 'n': 1, 'j': 1}

# invert a dictionary

In [13]:
input_dict={'a':1,'b':2,'c':3}

inverted ={v:k  for k,v in input_dict.items()}
inverted

{1: 'a', 2: 'b', 3: 'c'}

# removes keys with empty values from a dictionary

In [17]:
dict1 ={'name':'aman','age':'', 'city':'rohtak',"class": None}

removes={k:v for k,v in dict1.items() if v }
removes

{'name': 'aman', 'city': 'rohtak'}

In [24]:
def check(dict1,dict2):
    return all(i in dict2.items() for i in dict1.items())


dict1={'a': 1, 'b':2}
dict2={'a': 1, 'b':2,'c':3}

check(dict1 ,dict2)

True

# function

In [25]:
x =10
y =15

if x>y :
    print(x)
else:
    print(y)

15

In [27]:
# function defination

def large(x,y):
    if x>y:
        return x
    else:
        return y

#calling
large(10,16)

16

In [28]:
x=15
y =20

if x %2==0:
    print("x is even",x)
else:
    print("y is even",y)

y is even 20

In [31]:
def even(x,y):
    if x%2==0:
        return x
    else:
        return y
    
even(14,15)

14

# benifits of using a function

## .code modularity
## .code readibility
## .code reusability

In [36]:
def calculate_area(length,width):
    '''
    calculate the area of a ractangle.

    parameter:
    length (float): the length of tha rectangle.
    width (float): the width of the rectangle.

    returns:
    float: the area of the rectangle.
    '''
    return length*width


def calculate_perimeter(length,width):
    
    '''
    calculate the area of a ractangle.

    parameter:
    length (float): the length of tha rectangle.
    width (float): the width of the rectangle.

    returns:
    float: the area of the rectangle.
    '''
    return 2*(length*width)

def print_shape(length,width):
    '''
    calculate the area of a ractangle.

    parameter:
    length (float): the length of tha rectangle.
    width (float): the width of the rectangle.

    returns:
    float: the area of the rectangle.
    '''
    area=calculate_area(length,width)
    perimeter = calculate_perimeter(length,width)
    print(f'rectangle with length {length} and width {width}:')
    print(f"area:{area}")
    print(f"perimeter:{perimeter}")

print_shape(4,5)

rectangle with length 4 and width 5:
area:20
perimeter:40

In [40]:
def add(x,y):
    return x+y

add(3,4)

7

# types of argument:

## postional argument

In [42]:
def fun(name, age):
    print("name:",name)
    print("age:",age)

fun("aman",23)

name: aman
age: 23

# key word argument

In [44]:
def fun(name, age):
    print("name:",name)
    print("age:",age)

fun(age=25,name="aman")

name: aman
age: 25

In [47]:
def divide(x,y):
    return x/y
divide(5,10)

0.5

In [48]:
def divide(x,y):
    return x/y
divide(y=5,x=10)

2.0

# default

In [51]:
def fun(name="xyz", age=25):
    print("name:",name)
    print("age:",age)

#fun("aman",23)
fun()

name: xyz
age: 25

# varible lengh arguments

In [1]:
def sum_all(*args):
    return sum(args)

sum_all(2,3,4,5,6,67,5,6,5,64,6)

173

In [5]:

def string(*ste):
    return " ".join(ste)

string("aman","is","a","good","boy")

'aman is a good boy'

In [9]:
def info(**kwargs):
    for k , v in kwargs.items():
        print(f"{k}:{v}")

info(name="aman",age='23',city="rohtak")

name:aman
age:23
city:rohtak

# return vs print

In [13]:
def fun():
    print("this is class of pythan ")

f1=fun()
print(f1)
type(f1)

this is class of pythan
None

NoneType

In [12]:
def fun():
    return("this is the class of pythan")

f1=fun()
print(f1)
type(f1)

this is the class of pythan

str

In [17]:
def fun(a):
    return a

f1=fun(4)
print(f1)
type(f1)

4

int

In [20]:
def fun(a):
    print (a)

f1=fun(4)
print(f1)
type(f1)

4
None

NoneType

In [16]:
a=4
def fun(a):
    pass

f1=fun(4)
print(f1)
type(f1)
print(a)

None
4

In [22]:
a=4
def fun(a):
    return  a

f1=fun(4)
print(f1)
type(f1)

4

int

In [24]:

def fun(a):
    return a
    print("this is my pythan class")

    


f1=fun(4)
print(f1)

4

In [25]:
def fun(a):
    print(a)
    print("this is my pythan class")

    


f1=fun(4)
print(f1)

4
this is my pythan class
None

In [27]:
def fun1():
    print("hello","world","this","is","me")

fun1()

hello world this is me

In [28]:
def fun1():
    return("hello","world","this","is","me")

fun1()

('hello', 'world', 'this', 'is', 'me')

# scope

In [3]:
#local function
def fun():
    x=9
    x+=1
    print(x)

fun()

10

In [1]:
# enclosing function

def my_fun():
    x=110
    def fun():

        print(x)

    fun()
my_fun()

110

In [9]:
# globel variable 
y=36

def fun():
    x=56
    print(x)
    
    print(y)

fun()

56
36

In [5]:
# globel variable 
y=36

def fun():
    x=56
    print(x)
    global y
    y+=1
    print(y)

fun()

56
37

In [7]:
#local function
def fun(s):
    l=len(s)
    print(s)
    print(l)

fun("aman come on this side")

aman come on this side
22

# globel or non local keywords

In [12]:
# globel variable 
y=36

def fun():
    x=56
    print(x)
    global y
    y+=1
    
    print(y)

fun()

56
37

In [18]:
# enclosing function

z=8
def my_fun():
    x=110
    def fun():
        y=87
        nonlocal x
        x+=1
        print(x)

        print(y)
        global z
        z+=5
        print(z)
    fun()
my_fun()

111
87
13

# LEGB RULE

In [4]:
x=15
def outer_fun():
    x=8
    def inner_fun():
        x=9
        print(x)

    inner_fun()
    print(x)

outer_fun()
print(x)

9
8
15